.experience {
	// height: calcVH();
	width: 50%;

	.experience-wrapper {
		padding-top: 1rem;
		margin-bottom: 8rem;
	}
	.experience__title {
		font-size: get-font-size("xl");
		font-weight: get-font-weight("bold");
		margin-bottom: 3rem;
	}

	.experiences__experience {
		border: 1px solid $dark-grey;
		border-radius: 8px;
		padding: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 2rem;
		svg {
			width: 48px;
			height: auto;
			margin-right: 2rem;
		}
		.experience-container {
			width: 100%;
		}
		.break {
			@include push(1rem, 0);
		}
		&:hover {
			cursor: pointer;
		}
		.experience_title {
			font-size: get-font-size("md");
			font-weight: get-font-weight("bold");
			margin-bottom: 0.25rem;
		}
		.experience__subtitle {
			font-size: get-font-size("sm");
			font-weight: get-font-weight("regular");
		}
		.experience__description:first-child {
			font-size: get-font-size("sm");
			font-weight: get-font-weight("regular");
		}
		.experience__descriptions {
			margin: 1rem 0;
		}
		.experience__description {
			font-size: get-font-size("sm");
			font-weight: get-font-weight("regular");
			margin-bottom: 0.5rem;
			list-style-type: disc;
			list-style-position: inside;
		}
		.experience_skill {
			font-size: get-font-size("xs");
			margin-right: 1rem;
			margin-bottom: 0.25rem;
		}

		.show__jobs_btn {
			padding: 0.5rem;
			padding: 0.5rem 1rem;
			border-radius: 8px;
			cursor: pointer;
		}
		// .center-image {
		// 	margin-left: 2rem;
		// 	border-radius: 5px;
		// 	overflow: hidden;
		// }
	}

	@include respond-to("medium") {
		.experience-wrapper {
			margin-bottom: 4rem;
		}
		.experiences__experience {
			.stack {
				@include v-stack();
			}
			// svg {
			// 	margin-right: 2rem;
			// 	width: 48px;
			// 	height: auto;
			// }
		}

		.experience__title {
			text-align: center;
		}
		.experience__subtitle {
			margin-bottom: 0.25rem;
		}
		.show__jobs_btn {
			display: none;
		}
		.experience_skill {
			display: none;
		}
		.break {
			display: none;
		}
		div > .stack:first-child {
			margin-bottom: 0.5rem;
		}
		width: 100%;
	}
}
