header {
	.nav {
		height: 80px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}

	.nav-items {
		display: flex;
		align-items: center;
		text-align: center;
		border-bottom: 1px solid transparent;

		.nav__item {
			padding: 16px 64px;
			&:hover {
				transition: 0.2s ease-in-out;
			}
			[role="active"] {
				border-bottom: 1px solid $brand-color;
			}
		}
	}

	.nav-mobile {
		display: none;

		.nav-mobile-menu {
			display: none;
		}

		// .mobile-menu__items {
		// 	height: 30px;
		// 	width: 30px;
		// 	text-align: center;
		// 	margin: 2rem;
		// 	padding: 0 1rem;
		// }
	}

	@include respond-to("medium") {
		.nav-items {
			display: none;
		}
		.nav-mobile {
			display: flex;
			flex-flow: column nowrap;
			margin: 1px 0;
		}
	}
}
