header {
	.nav {
		height: 80px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}

	.nav-items {
		display: flex;
		align-items: center;
		text-align: center;
		border-bottom: 1px solid transparent;

		.nav-items__item {
			padding: 16px 64px;
			cursor: pointer;
			&:hover {
				color: map-get($map: $theme, $key: "borderLight");
			}
			[role="active"] {
				border-bottom: 1px solid $brand-color;
			}
		}
	}

	.nav-mobile {
		display: none;
		.nav-mobile-menu {
			position: absolute;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 2rem 0;
			top: 80px;
			left: 0;
			z-index: -10;
			transition: 200ms linear;
			li {
				padding: 1rem;
				cursor: pointer;
				&:hover {
					color: map-get($map: $theme, $key: "borderLight");
				}
			}
		}
		#collapsed {
			top: -25%;
		}
	}

	@include respond-to("medium") {
		.nav-items {
			display: none;
		}
		.nav-mobile {
			display: flex;
			flex-flow: column nowrap;
			margin: 1px 0;
		}
	}
}
