.projects {
	.projects__wrapper {
		padding-top: 1rem;
		margin-bottom: 8rem;
	}

	.projects__title {
		font-size: get-font-size("xl");
		font-weight: get-font-weight("bold");
		margin-bottom: 3rem;
	}

	.projects__project {
		border: 1px solid $dark-grey;
		border-radius: 8px;
		padding: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;

		&:hover {
			cursor: pointer;
		}
		.project__title {
			font-size: get-font-size("md");
			font-weight: get-font-weight("bold");
		}
		.project__subtitle {
			margin-top: 1rem;
			font-size: get-font-size("sm");
			font-weight: get-font-weight("regular");
		}
		// .center-image {
		// 	margin-left: 2rem;
		// 	border-radius: 5px;
		// 	overflow: hidden;
		// }
	}
	@include respond-to("medium") {
		.projects__wrapper {
			margin-bottom: 4rem;
		}
		// .projects__project {
		// 	flex-flow: column nowrap;
		// 	justify-content: center;
		// }

		.project__subtitle {
			display: none;
		}
		// .center-image {
		// 	margin-left: 0 !important;
		// 	margin-top: 1rem;
		// }
		width: 100%;
	}
}
