.theme {
	height: 100%;
	width: 100%;
	// max-width: 100%;
	* {
		transition: 0.2s ease-in-out;
	}
}

// * {
// 	border: 1px red solid;
// }

.about_me {
	display: flex;
	flex-flow: row wrap;
}

@include respond-to("medium") {
	.about_me {
		flex-direction: column;
	}
}

button {
	cursor: pointer;
}
