.theme {
	height: 100%;
	width: 100%;
	// max-width: 100%;
	* {
		transition: 0.2s ease-in-out;
	}
}

// * {
// 	border: 1px red solid;
// }

.about_me {
	display: flex;
	flex-flow: row wrap;
}

@include respond-to("medium") {
	.about_me {
		flex-direction: column;
	}
}

button {
	cursor: pointer;

	&:hover {
		@include animate(buttonScale, 0.5s);
	}
}

.content {
	.name {
		color: rgb(54, 142, 201);
	}
	.blinking-cursor {
		display: inline-block;
		height: 1.75rem;
		width: 1.5px;
		transform: translateY(0.25rem);
		background-color: rgb(54, 142, 201);
	}
}
