@keyframes slideRight {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(50%);
	}
}

@keyframes slideDown {
	from {
		// transform: translateY(0%);
		transform: translateX(0%);
	}
	to {
		// transform: translateY(100%);
		transform: translateX(50%);
	}
}
